*~
*.tar.gz
*.tar.xz
.ng
.direnv
!.github
\#*
/target
/result*
.DS_Store
node_modules
*/tests/*.ng
*/tests/*.ngw
*/tests/*.pazzle
*/tests/*.mnemonic
*/ng-example/*
.vscode/settings.json
.env.local
/public_dev
/infra/ngaccount/.env