---
import Highlight from "../components/Highlight.astro";
---
<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <Highlight astro>
            <main class="container">
                <slot />
            </main>
        </Highlight>
    </body>
</html>
