---
import Layout from "../layouts/Layout.astro";
import Highlight from "../components/Highlight.astro";
import "../styles/expense-tracker.css";

import VueRoot from "../components/VueRoot.vue";
import ReactRoot from "../components/ReactRoot";
import SvelteRoot from "../components/SvelteRoot.svelte";
import Svelte4Root from "../components/Svelte4Root.svelte";

---

<!--
// Copyright (c) 2025 Laurin Weger, Par le Peuple, NextGraph.org developers
// All rights reserved.
// Licensed under the Apache License, Version 2.0
// <LICENSE-APACHE2 or http://www.apache.org/licenses/LICENSE-2.0>
// or the MIT license <LICENSE-MIT or http://opensource.org/licenses/MIT>,
// at your option. All files in the project carrying such
// notice may not be copied, modified, or distributed except
// according to those terms.
// SPDX-License-Identifier: Apache-2.0 OR MIT
-->
<script>
    import {init as initNg, sessionPromise} from "../../utils/ngSession";

    initNg();

    // Only show screen once ng is initialized.
    sessionPromise.then(() => {
        document.querySelector<HTMLElement>(".astro")!.style.display = "block";
    })
</script>

<Layout>
    <div  class="framework-grid">
        <div class="framework-card">
            <Highlight vue>
                <VueRoot client:only />
            </Highlight>
        </div>

        <div class="framework-card">
            <Highlight react>
                <ReactRoot client:only="react" />
            </Highlight>
        </div>

        <div class="framework-card">
            <Highlight svelte>
                <SvelteRoot client:only />
            </Highlight>
        </div>

        <div class="framework-card">
            <Highlight svelte4>
                {/* @ts-ignore */}
                <Svelte4Root client:only />
            </Highlight>
        </div>
    </div>
</Layout>
