---
const { react, svelte, vue, astro } = Astro.props;

const frameworkName = Object.keys(Astro.props)[0];
---

<!--
// Copyright (c) 2025 Laurin Weger, Par le Peuple, NextGraph.org developers
// All rights reserved.
// Licensed under the Apache License, Version 2.0
// <LICENSE-APACHE2 or http://www.apache.org/licenses/LICENSE-2.0>
// or the MIT license <LICENSE-MIT or http://opensource.org/licenses/MIT>,
// at your option. All files in the project carrying such
// notice may not be copied, modified, or distributed except
// according to those terms.
// SPDX-License-Identifier: Apache-2.0 OR MIT
-->
<div class:list={["box", { react, svelte, vue, astro }]}>
    <div class="wrap">
        <slot />
    </div>
</div>

<style>
    .box {
        border: 2px solid rgb(88, 88, 81);
        border-radius: 1rem;

        padding: 1rem;
        margin-top: 1rem;

        margin-left: auto;
        margin-right: auto;

        min-width: 60%;
    }
    .wrap {
        padding: 10px;
    }
    .title {
        background: var(--highlightColor);
        padding: 0 10px;
    }
    .vue {
        background-color: rgb(255, 212, 255);
    }
    .react {
        background-color: rgb(189, 216, 255);
    }
    .svelte {
        background-color: rgb(255, 216, 189);
    }
</style>
